.content-container{
    padding:  0 1.5em 1.5em 1.5em;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.card{
    color: black;
    margin: 10px 0;
    background-color: rgb(226, 214, 195);
}

.card:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.397);
    text-decoration: none;
}

.card .card-header{
}

.card .card-header img{
    max-width: 100%;

    max-height: 100%;

    display: block;
}

.card .card-footer{

}

.genre-tag{
    display: inline-block;
    border-radius: 25px;
    padding: 2px 5px;
    background: white;
    color: black;
}